<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted </title>
    {% include 'nav.html' %}
    {% include 'header.html' %}
  </head>
  <body>
    <div class="container" style="margin-top:70px">
      <div class="row">
    <h1>Thank you for applying!</h1>
    <p>Your application for <b>{{job.title}}</b> has been submitted successfully.</p>
    
    <p>We will review your application and get back to you soon.</p>
    <p>Best regards,</p>
    <p>The Christo Career Team</p>
    <a href="/">Back to Home</a><br><br>
      </div></div>
    {% include 'footer.html' %}
     
    
  </body>